<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Reset Password</p>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email Address" [(ngModel)]="email">
                    </div>
                </div>
            </div>
            <button type="button" class="btnSubmit" (click)="resetPassword()">Reset Password</button>
        </div>
    </div>
</div>